.poster img {
    min-height: 87%;
    object-fit: cover;
}

.item img {
    min-height: 87%;
    object-fit: cover;
}

body {
    max-width: 1200px;
    margin: auto;
}

#episodesTable {
    table-layout: fixed;
}

.episode-number-header {
    width: 40px;
}

.episode-date-header {
    width: 100px;
}

.episode-watched-header {
    width: 130px;
}

.episode-add-header {
    width: 40px;
}

#synopsisCardHeader {
    cursor: pointer;
}

.episodeRow {
    cursor: pointer;
    user-select: none;
}

.flatpickr {
    max-width: 130px;
}

