.poster img {
    min-height: 80%;
    object-fit: cover;
    border-style: solid;
    border-color: black;
}

.poster button {
  position: absolute;
  top: 80%;
  left: 5%;
}

body {
    max-width: 1600px;
    margin: auto;
}