.poster {
    position: relative;
}

.poster img {
    min-height: 85%;
    object-fit: cover;
    border-style: solid;
    border-color: black;
}

.poster button {
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: black;
}

body {
    max-width: 1600px;
    margin: auto;
}